<% if notice %>
  <div class="alert alert-success alert-dismissible fade show pt-2 pb-2" role="alert">
    <div class="row">
      <div class="col"><%= notice %></div>
      <button type="button" class="close col-auto btn btn-sm pt-0 pb-0" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %>
<% if alert %>
<div class="alert alert-danger alert-dismissible fade show pt-2 pb-2" role="alert">
<div class="row">
  <div class="col"><%= alert %></div>
  <button type="button" class="close col-auto btn btn-sm pt-0 pb-0" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
<% end %>